*{
    
    padding: 0px;
    margin: 0px;
}
#how{
    font-size: 23px;
    font-family:Arial, Helvetica, sans-serif
}
h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom:15px;
}
.head-Content{
    padding-left:40px;
}
p{
    width:518px;
}
img{
    margin-left:20px;
    padding-bottom: 15px;
}
.text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.cols{
    height: 648px;
    display: flex;
    flex-wrap:wrap;
}
.col{
    display: flex;
    justify-content:start;
}
.content{
margin-top: 100px;
margin-left: 20px;
}

